<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-demandresponse btn btn-sm btn-round" 
      [class.btn-outline-default]="idroButton != 2" 
      [class.btn-outline-success]="idroButton == 2" (click)="getIDRO()">
      <div class="row">
        <div class="col-5 col-md-4">
          <div class="icon-big text-center icon-warning">
            <i class="fa "
              [class.fa-cog]="idroButton == 1"
              [class.fa-spin]="idroButton == 1"
              [class.fa-fw]="idroButton == 1"
              [class.fa-area-chart]="idroButton != 1"
            ></i>
          </div>
        </div>
        <div class="col-7 col-md-8 align-self-center">
          <div class="numbers">
            <span >Identify DR Oportunities</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-demandresponse btn btn-sm btn-round" [class.btn-outline-default]="flexibilityForecastButton != 2" 
    [class.btn-outline-success]="flexibilityForecastButton == 2" 
      (click)="getIoTFlexibility()">
      <div class="row">
        <div class="col-5 col-md-4">
          <div class="icon-big text-center icon-warning">
            <i class="fa "
              [class.fa-cog]="flexibilityForecastButton == 1"
              [class.fa-spin]="flexibilityForecastButton == 1"
              [class.fa-fw]="flexibilityForecastButton == 1"
              [class.fa-bar-chart]="flexibilityForecastButton != 1"
            ></i>
          </div>
        </div>
        <div class="col-7 col-md-8 align-self-center">
          <div class="numbers">
            <span >Flexibility Forecast
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-demandresponse btn btn-sm btn-round"
      [class.btn-outline-default]="rankingButton != 2" 
      [class.btn-outline-success]="rankingButton == 2" 
      (click)="runRanking()">
      <div class="row">
        <div class="col-5 col-md-4">
          <div class="icon-big text-center icon-warning">
            <i class="fa "
              [class.fa-cog]="rankingButton == 1"
              [class.fa-spin]="rankingButton == 1"
              [class.fa-fw]="rankingButton == 1"
              [class.fa-list-ol]="rankingButton != 1"
            ></i>
          </div>
        </div>
        <div class="col-7 col-md-8 align-self-center">
          <div class="numbers">
            <span>Ranking
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-demandresponse btn btn-sm btn-round"
      [class.btn-outline-default]="inviteParticipantsButton != 2" 
      [class.btn-outline-success]="inviteParticipantsButton == 2"
      (click)="inviteParticipants()">
      <div class="row">
        <div class="col-5 col-md-4">
          <div class="icon-big text-center icon-warning">
            <i class="fa "
              [class.fa-cog]="inviteParticipantsButton == 1"
              [class.fa-spin]="inviteParticipantsButton == 1"
              [class.fa-fw]="inviteParticipantsButton == 1"
              [class.fa-envelope]="inviteParticipantsButton != 1"
            ></i>
          </div>
        </div>
        <div class="col-7 col-md-8 align-self-center">
          <div class="numbers">
            <span >Invite Participants
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <div class="row ml-0 mr-0">
          <h5 class="card-title mr-auto">Events</h5>
          <div class="btn btn-round btnneutral align-self-top btn-lg my-0" (click)="eventsDayIncrement(-1)">
            <i class="fa fa-angle-left"></i>
          </div>
          <span class="card-title align-self-center">{{ eventsDayDate }}</span>
          <div class="btn btn-round btn-neutral align-self-top btn-lg my-0" (click)="eventsDayIncrement(1)">
            <i class="fa fa-angle-right"></i>
          </div>
        </div>
        <p *ngIf="upcomingEvents.length == 0" class="card-category">No Existing Events</p>
      </div>
      <div class="card-body">
        <div *ngIf="upcomingEvents.length != 0" class="table-responsive">
          <table class="table table-hover">
            <thead class=" text-primary">
              <th>
                Event Time
              </th>
              <th>
                Accepted
              </th>
              <th>
                Declined
              </th>
            </thead>
            <tbody >
              <ng-container *ngFor="let item of upcomingEvents; let i = index">
                <tr (click)="loadEventData(item.time)">
                  <td>{{ item.time }}</td>
                  <td [ngStyle]="{ color: 'green'}">{{ item.okParticipants }}</td>
                  <td [ngStyle]="{ color: 'red' }">{{ item.notOkParticipants }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>          
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="(currentEvent != '' && idroButton != 2)" class="col-md-2">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Current Event</h5>
        <p class="card-category">Interval: {{ currentEventInterval }}</p>
      </div>
      <div class="card-body">
        <p>Aggregated Balance: {{ currentEventAggregatedBalance }}</p>
        <p>At: {{ currentEvent }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="nextEvent != '' && idroButton != 2" class="col-md-2">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Next Event</h5>
        <p class="card-category">T- {{ eventTimeLeft }}</p>
      </div>
      <div class="card-body">
        <p>The next demand response event will be at: {{ nextEvent }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="idroButton == 2" class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Demand Response Event</h5>
        <p class="card-category">Choose hour to create demand response event</p>
      </div>
      <div class="card-body">
        <select [(ngModel)]="selectedHour" aria-label=".form-select-lg example" style="background-color: #cfcfcf00; border: 1px solid #66615B !important; box-shadow: 0 6px 10px -4px #00000026; border-radius: 12px; margin-top: 10px; font-size: x-large;">
          <option *ngFor="let option of eventHours" [value]="option">{{ option }}</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Event Monitoring</h5>
        <p class="card-category">Current Event</p>
      </div>
      <div class="card-body ">
        <canvas id=chartEventMonitoring width="400" height="93"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
          <div class="row justify-content-start">
            <p class="btn-legend" (click)="hideLine(0)">
              <i class="fa fa-circle text-primary"></i> w/ DR
            </p>
            <p class="btn-legend" (click)="hideLine(1)">
              <i class="fa fa-circle text-wo-dr"></i> w/o DR
            </p>
            <p class="btn-legend" (click)="hideLine(2)">
              <i class="fa fa-circle text-correction-1"></i> w/o Correction 1
            </p>
            <p class="btn-legend" (click)="hideLine(3)">
              <i class="fa fa-circle text-correction-2"></i> w/o Correction 2
            </p>
            <p class="btn-legend" (click)="hideLine(4)">
              <i class="fa fa-circle text-correction-3"></i> w/o Correction 3
            </p>
            <p class="btn-legend" (click)="hideLine(5)">
              <i class="fa fa-circle text-correction-4"></i> w/o Correction 4
            </p>
            <p class="btn-legend" (click)="hideLine(6)">
              <i class="fa fa-circle text-correction-5"></i> w/o Correction 5
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Average Metric Score</h5>
        <p class="card-category">Last Demand Response Event</p>
      </div>
      <div class="card-body ">
        <canvas id="chartMetrics"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle text-primary"></i> Metric 1
          <i class="fa fa-circle text-warning"></i> Metric 2
          <i class="fa fa-circle text-danger"></i> Metric 3
          <i class="fa fa-circle text-gray"></i> Metric 4
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card card-chart">
      <div class="card-header">      
          <h5 class="card-title">Demand Response Opportunities</h5>
          <p class="card-category">Forecast For Tommorow</p>
      </div>
      <div class="card-body">
        <canvas id="speedChart" width="400" height="100"></canvas>
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <div class="col-md-3 col-3">
            <i class="fa fa-circle text-primary"></i> Consumption
            <i class="fa fa-circle text-success"></i> Generation
            <i class="fa fa-circle text-danger"></i> Flexibility
          </div>
          <div class="col-md-3 col-3">
            <i class="fa fa-circle-thin text-purple"></i> DR Opportunity
            <i class="fa fa-circle-thin text-success"></i> Generation Surplus
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Ranking</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class=" text-primary">
              <th>
                Name
              </th>
              <th>
                Flexibility
              </th>
              <th>
                Metric 1 - Historic of Average vs Participation (%)
              </th>
              <th>
                Metric 2 - Average Energy Reduction vs Total Participation
              </th>
              <th>
                Metric 3 - Flexibility (Reduction) vs Participation (%)
              </th>
              <th>
                Metric 4 - Shifting Cost
              </th>
              <th>
                Total Score
              </th>
              <th>
                Fair Score
              </th>
            </thead>
            <tbody >
              <ng-container *ngFor="let item of rankingTable; let i = index">
                <tr *ngIf="isRankingTableExtended || i < 5" (click)="onRowClick(item)"
                  [ngStyle]="{ color: i < mainParticipants ? 'green' : 'black' }">
                  <td>{{ item.name }}</td>
                  <td>{{ item.flexibility }}</td>
                  <td>{{ item.metric1 }}</td>
                  <td>{{ item.metric2 }}</td>
                  <td>{{ item.metric3 }}</td>
                  <td>{{ item.metric4 }}</td>
                  <td>{{ item.totalscore }}</td>
                  <td>{{ item.fairscore }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <div class="text-center">
            <a class="" (click)="extendTable()">
              <i *ngIf="!isRankingTableExtended" class="fa fa-angle-down"></i>
              <i *ngIf="isRankingTableExtended" class="fa fa-angle-up"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>