<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <img src="assets/img/power.svg">
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Consumption</p>
              <p id="consumption" class="card-title">{{consumption}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats stats-hover" *ngIf="!loading">
          <i class="fa fa-history"></i> Updated 1 minute ago 
        </div>
        <div class="stats stats-hover" *ngIf="loading">
          <i class="fas fa-sync fa-spin" ></i> Updating...
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <img src="assets/img/solar-panel.svg">
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Generation</p>
              <p class="card-title">{{generation}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats stats-hover" *ngIf="!loading">
          <i class="fa fa-history"></i> Updated 1 minute ago 
        </div>
        <div class="stats stats-hover" *ngIf="loading">
          <i class="fas fa-sync fa-spin" ></i> Updating...
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <img src="assets/img/flexibility.svg">
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Flexibility</p>
              <p class="card-title">{{flexibility}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats stats-hover" *ngIf="!loading">
          <i class="fa fa-history"></i> Updated 1 minute ago 
        </div>
        <div class="stats stats-hover" *ngIf="loading">
          <i class="fas fa-sync fa-spin" ></i> Updating...
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <img src="assets/img/community.svg">
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Members</p>
              <p class="card-title">{{members}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats stats-hover" *ngIf="!loading">
          <i class="fa fa-history"></i> Updated 1 minute ago 
        </div>
        <div class="stats stats-hover" *ngIf="loading">
          <i class="fas fa-sync fa-spin" ></i> Updating...
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Community Overview</h5>
        <p class="card-category">Last 24 Hours</p>
      </div>
      <div class="card-body ">
        <canvas id=chartMonitoring width="400" height="100"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle text-primary"></i> Consumption
          <i class="fa fa-circle text-success"></i> Generation
          <i class="fa fa-circle text-danger"></i> Flexibility
        </div>
        <hr>
        <div class="stats" *ngIf="!loading">
          <i class="fa fa-history"></i> Updated 1 minute ago 
        </div>
        <div class="stats" *ngIf="loading">
          <i class="fas fa-sync fa-spin" ></i> Updating...
        </div>
      </div>
    </div>
  </div>
</div>
<!--div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <div>
          <h5 class="card-title">Community Overview</h5>
          <p class="card-category">Last 24 Hours</p>
        </div>
      </div>
      <div class="card-body ">
        <canvas id=chatBuilding width="400" height="100"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle text-primary"></i> Consumption
          <i class="fa fa-circle text-success"></i> Generation
          <i class="fa fa-circle text-danger"></i> Flexibility
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>
</div-->