<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Participants</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="participantsTable" class="table table-hover">
            <thead class=" text-primary">
              <th>
                Name
              </th>
              <th>
                Capacity (Wh)
              </th>
              <th>
                Action
              </th>
              <th>
                Charging Rate (W)
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let bat of table1">
                <td>{{ bat.name }}</td>
                <td>{{ bat.capacity }}</td>

                <td *ngIf="bat.charging_rate == 0">On Hold (until ...)</td>
                <td *ngIf="bat.charging_rate > 0">Charging (until ...)</td>
                <td *ngIf="bat.charging_rate < 0">Discharging (until ...)</td>
                <td>{{ bat.charging_rate }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Optimization Chart</h4>
      </div>
      <div class="card-body">
        <optimization-chart></optimization-chart>
      </div>
    </div>
  </div>
</div>