<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <img src="assets/img/power.svg">
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Consumption</p>
              <p id="consumption" class="card-title">{{consumption}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats stats-hover">
          <i class="fa fa-refresh"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <img src="assets/img/solar-panel.svg">
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Generation</p>
              <p class="card-title">{{generation}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats stats-hover">
          <i class="fa fa-refresh"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <img src="assets/img/flexibility.svg">
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Flexibility</p>
              <p class="card-title">{{flexibility}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats stats-hover">
          <i class="fa fa-refresh"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <img src="assets/img/community.svg">
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Participants</p>
              <p class="card-title">{{participants}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats stats-hover">
          <i class="fa fa-refresh"></i> Update now
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Real Time Monitoring</h5>
        <p class="card-category">Last 24 Hours</p>
      </div>
      <div class="card-body ">
        <canvas id=chartMonitoring width="400" height="100"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle text-primary"></i> Consumption
          <i class="fa fa-circle text-success"></i> Generation
          <i class="fa fa-circle text-danger"></i> Flexibility
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Average Metric Score</h5>
        <p class="card-category">Last Demand Response Event</p>
      </div>
      <div class="card-body ">
        <canvas id="chartMetrics"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle text-primary"></i> Metric 1
          <i class="fa fa-circle text-warning"></i> Metric 2
          <i class="fa fa-circle text-danger"></i> Metric 3
          <i class="fa fa-circle text-gray"></i> Metric 4
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-calendar"></i> Last Event: {{last_dr_datetime}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">Demand Response Opportunities</h5>
        <p class="card-category">Demand Response Opportunities</p>
      </div>
      <div class="card-body">
        <canvas id="speedChart" width="400" height="100"></canvas>
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-primary"></i> Consumption
          <i class="fa fa-circle text-success"></i> Generation
          <i class="fa fa-circle text-danger"></i> Flexibility
        </div>
        <hr/>
        <div class="card-stats">
          <i class="fa fa-check"></i> Last Event: {{last_dr_datetime}}
        </div>
      </div>
    </div>
  </div>
</div>
